<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/agentmodel.csdl|res://*/agentmodel.ssdl|res://*/agentmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pcsqlstud01;initial catalog=10210806;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>